.navbar {
    background: var(--background-navbar);
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: var(--color-navbar);
}

.navbar>section {
    max-width: 960px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbar .brand>i {
    color: var(--color-navbar-icon);
}

.navbar a,
.navbar label {
    color: var(--color-navbar);
    text-decoration: none;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0px;
}

.navbar ul>li {
    margin-left: 20px;
    font-size: 16px;
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar label {
    text-transform: uppercase;
}

.navbar label:hover {
    cursor: pointer;
}

.navbar #darkmode {
    display: none;
}

.navbar #darkmode:checked+.darkmode-label::after {
    content: ' On';
    display: inline;
}

.navbar .darkmode-label::after {
    content: ' Off';
    display: inline;
}