body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Segoe UI";
}

:root {
    --background-navbar: #c0392b;
    --color-navbar: #fff;
    --color-navbar-icon: #A6BF3D;
    --color-title: #000;
    --color-text: #212529;
}

.main {
    position: absolute;
    display: flex;
    width: 960px;
    left: 50%;
    transform: translateX(-50%);
}