body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Segoe UI";
    box-sizing: border-box;
}

:root {
    --background-navbar: #c0392b;
    --color-navbar: #fff;
    --color-navbar-icon: #A6BF3D;
    --color-title: #000;
    --color-text: #212529;
    --background-card: #fff;
    --background-header-card: var(--background-navbar);
    --header-title-card: #fff;
    --border-card: var(--background-header-card);
}

.dark-mode-root {
    --background-navbar: #000;
}

.main {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 960px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}