body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Segoe UI";
}

:root {
    --background-navbar: #c0392b;
    --color-navbar: #fff;
    --color-icon: #A6BF3D;
}

.main {
    position: absolute;
    display: flex;
    width: 960px;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 50px;
}