body {
    margin: 0;
    padding: 0;
}

* {
    font-family: "Segoe UI";
}

:root {
    --background-navbar: #c0392b;
    --color-navbar: #fff;
}

.navbar {
    background: var(--background-navbar);
    padding: 10px 50px;
    display: flex;
}

.navbar a {
    color: var(--color-navbar);
    text-decoration: none;
}

.navbar>ul {
    list-style-type: none;
    display: flex;
    padding: 0;
}

.navbar>ul>li {
    margin-left: 15px;
}